* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background-color: #DAAF87;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width:100%;
    height:100%;
    background: url(https://images.pexels.com/photos/327472/pexels-photo-327472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#start, #done, #again, #quit, #goodbye, #close {
    background-color: #B48152;
    color: #FFEFE0;
    letter-spacing: .10em;
    border: none;
}

#start:hover, #done:hover, #again:hover, #quit:hover, #goodbye:hover, #close:hover {
    background: rgba(0,0,0,0);
	color: #B48152;;
    box-shadow: inset 0 0 0 3px #B48152;
}

#start:active, #done:active {
    background-color: #956131;
    color: #FFEFE0;
}

#show-number {
    display: inline-block;
}

#game {
    margin-top: 50px;
    display: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #FFEFE0;
    padding: 40px;
}

.jumbotron {
    background-color: #FFDFC2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.display-4 {
    font-weight: bold;
    letter-spacing: .05em;
}

.navbar {
    display: none;
    font-family: 'Poppins', sans-serif;
    background-color: #B48152!important;
    padding-top: 15px;
    padding-bottom: 5px
}

h2 {
    color: #FFEFE0;
}

#score-board {
    display: none;
    text-align: left;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card {
    margin-top: 150px;
    background-color: #FFDFC2;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#totals {
    font-weight: 700;
    letter-spacing: .05em;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 991px) and (max-width: 1200px) {
    #score-board {
        width: 100%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 981px) and (max-width: 990px) {
    #score-board {
        width: 50%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    #score-board {
        width: 50%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
}
  
@media screen and (min-width: 641px) and (max-width: 768px) { 
    #score-board {
        width: 75%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }    
}
  
@media screen and (max-width: 640px) {
    #score-board {
        width: 100%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
}