* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #DAAF87;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#start, #done {
    background-color: #B48152;
    letter-spacing: .10em;
    border: none;
}

#start:hover, #done:hover {
    background: rgba(0,0,0,0);
	color: #B48152;;
    box-shadow: inset 0 0 0 3px #B48152;
}

#start:active, #done:active {
    background-color: #3a7999;
    color: #ffffff;
}

#show-number {
    display: inline-block;
}

#game {
    background-color: #ffffff;
    padding: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.jumbotron {
    background-color: #FFDFC2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.display-4 {
    font-weight: bold;
    letter-spacing: .05em;
  }

#game {
    display: none;
}